.do
*.wasm
bin/
build/
out/

# vendored fennel
lua/fennel.lua

*.d
*.o
.DS_STORE

# asset copying for production
web/assets.go
web/assets
web/templates
web/jnlisp

# production logs
logs/

# VTK output
*.vtk

*.png

