.do
*.wasm
bin/
build/
/out/

# vendored Lua
lua/ltn12.lua
lua/socket.lua
lua/fennel.lua

*.d
*.o
.DS_STORE

# production logs
logs/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv
.envrc
.env

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
