<header>
	<h1>Welcome to JNL CFD</h1>
</header>

<main>
	<p>
		A lightweight, scriptable CFD code built for rapid browser-based problem
		exploration and transparent, reproducible workflows.

		Truly a CFD paradigm of the future, inasmuch as it is nowhere near finished.
	</p>

	<h2 id="menu">Site Menu</h2>
	<nav>
		<ul>
			<li><a href="/workbooks/workbook-passive-tracer">Proof of Concept (Start here)</a></li>
			<li><a href="/workbooks">Sample Workbooks</a></li>
		</ul>
	</nav>

	<h2>Project summary</h2>

	<p>
		Embedding a lisp interpreter into a golang CFD code to get the best of
		both worlds: A fast, compiled, SIMD and CPU-cache optimised numeric
		kernel orchestrated by expressive Lisp-based DSLs (<em>Domain Specific
			Language</em>) in a literate code document format. Lightweight enough
		to be compiled to WebAssembly (WASM) so it can be run in the browser for
		fast problem discovery and iteration in a web-based workbook environment.
		However it could also be run on the server to create a persistent "Job
		Queue" for heavy computational work.
	</p>

	<h2>Outstanding work</h2>

	<p>
		Thank you very much.
	</p>

	<h2>Work that is still outstanding</h2>

	<p>(or indeed, features I'd like to add)</p>

	<ul class="checklist">
		<li><em>Completed work</em></li>
		<li><input type="checkbox" checked disabled>Basic passive scalar transport solver</li>
		<li><input type="checkbox" checked disabled>Basic unstructured mesh generation</li>
		<li><input type="checkbox" checked disabled>Essential Lisp language features</li>
		<li><input type="checkbox" checked disabled>Sparse set of CFD bindings for Lisp</li>
		<li><input type="checkbox" checked disabled>Limited workbook editor environment</li>
		<li><input type="checkbox" checked disabled>WebGL renderer for the mesh and scenario visualisations</li>

		<br>
		<li><em>Moving FVM algorithm expression to Lisp with code generation</em></li>
		<li><input type="checkbox" disabled>Redesign physics bindings to be more atomic</li>
		<li><input type="checkbox" disabled>Add these bindings to Lisp to create a DSL for expressing FVM
			algorithms</li>
		<li><input type="checkbox" disabled>Express FVM equation algorithms in that DSL</li>
		<li><input type="checkbox" disabled>Write code generation bindings for compiling those algorithms
			to fast numeric kernels</li>
		<li><input type="checkbox" disabled>Express SIMPLE algorithms in the FVM DSL</li>
		<li><input type="checkbox" disabled>Write a high-level library resembling symbolic maths for
			general CFD scenario specification</li>

		<br>
		<li><em>Lisp language features</em></li>
		<li><input type="checkbox" disabled>Add quoting and macros for better Scheme completeness</li>
		<li><input type="checkbox" disabled>Add introspection features for documentation</li>
		<li><input type="checkbox" disabled>Add full support for the table data type</li>
		<li><input type="checkbox" disabled>Add metadata to symbol definitions for interaction with tooling</li>
		<li><input type="checkbox" disabled>Add list and vector processing to the standard library</li>
		<li><input type="checkbox" disabled>Add string formatting to the standard library</li>
		<li><input type="checkbox" disabled>Add more robust library resolution</li>

		<br>
		<li><em>Web workbook environment features</em></li>
		<li><input type="checkbox" disabled>Better prose rendering so it's actually nice to read</li>
		<li><input type="checkbox" disabled>Basic syntax highlighting inside code blocks</li>
		<li><input type="checkbox" disabled>Inline error diagnostics</li>
		<li><input type="checkbox" disabled>Evaluated results appearing beneath code blocks in the editor</li>
		<li><input type="checkbox" disabled>Actual documentation</li>
		<li><input type="checkbox" disabled>Folder based "projects" for splitting code between phases and jobs</li>
		<li><input type="checkbox" disabled>Job queues: sending off meta-procedures (eg optimisation algorithms) to
			the server to be run in the background with progress updates on the web app.</li>

		<br>
		<li><em>Other key CFD libraries/features that are essential</em></li>
		<li><input type="checkbox" disabled>Unstructured mesh generation with Delauney Triangulation</li>
		<li><input type="checkbox" disabled>Allowing for internal geometries with Constrained
			Delauney Triangulation (CDT)</li>
		<li><input type="checkbox" disabled>A Lisp DSL for expressing parametric 2D geometry</li>
		<li><input type="checkbox" disabled>A Lisp DSL for post-processing and extracting
			dependent variables (eg lift)</li>
		<li><input type="checkbox" disabled>A Lisp DSL for interacting with actual output data</li>
	</ul>

	<p>
		Note these are not exhaustive at all or in any meaningful order - just work I
		imagine I would need to do (off the top of my head) to see out my vision
		of moving logic and algorithms to the Lisp DSL while keeping the
		benefits of fast, compiled code.
	</p>
</main>
