<header class="header--thin">
	<h1>Workbook</h1>
	<nav><a href="/#menu">Menu</a> / <a href="/workbooks">Workbooks</a></nav>
</header>

<main class="main--fw">
	<section data-context="workbook" data-behaviour="workbook-layout" class="workbook-layout layout--editor">
		<div data-workbook="menu-bar" data-behaviour="workbook-menu-bar" class="workbook-menu">
			<button data-menu-bar="run-btn">Run</button>
			<div data-menu-bar="interpreter-indicator">Up to date</div>

			<div class="menu-bar__push-right"></div>

			<button data-menu-bar="split-btn" disabled>Split View</button>
			<button data-menu-bar="editor-btn" disabled>View Editor</button>
			<button data-menu-bar="results-btn">View Results</button>
		</div>

		<div class="editor-container" data-workbook="editor-pane">
			<div contenteditable="true" class="code-editor" data-behaviour="code-editor code-interpreter"
				data-workbook="code-editor" spellcheck="false">
				{{ Page.contents }}
			</div>
		</div>

		<div data-workbook="results-pane">
			<div data-behaviour="results-table" class="results-table-container">
				<table data-results-table="table">
					<thead>
						<tr>
							<th>Block</th>
							<th>Position</th>
							<th>Result Type</th>
							<th>Result Value</th>
						</tr>
					</thead>
					<tbody data-results-table="table-body">
						<tr>
							<td colspan="100%">No results yet</td>
						</tr>
					</tbody>
				</table>
			</div>
			<canvas data-js-viz-canvas width="800" height="600" class="renderer-canvas"></canvas>
		</div>
	</section>
</main>
