<header>
	<h1>Sample Workbooks</h1>
	<nav><a href="/#menu">Menu</a></nav>
</header>

<main>
	<p>
		Here are some sample workbooks I've written up demonstrating some of
		the CFD features. They will not save but while you're on the page
		you are free to make any changes you like and see what they do.
		For an introduction to JNLisp go to "DSL into and sandbox". For
		an introduction to the CFD-specific usage go to "Passive transport
		scenario".
	</p>

	<h2>Samples</h2>

	<ol>
		<li>Passive transport scenario.
			<a href="/workbooks/workbook-passive-tracer">visit</a>
		</li>
		<li>Example structured mesh.
			<a href="/viewports/workbook-mesh">visit</a>
		</li>
		<li>DSL intro and sandbox.
			<a href="/viewports/workbook-language-playground">visit</a>
		</li>
	</ol>

	<h2>Future plans</h2>

	<p>
		Creating, saving and updating workbooks in the cloud will eventually
		be possible, but for the time being my priority is to optimise the
		editor experience such that you'd actually want to use it before adding
		file organisation tools.
	</p>
</main>
