<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JNL CFD</title>

	{{! the challenge: can I stick to 2 css files }}
	<link rel="stylesheet" href="/assets/base.css?v={{ Layout.timestamp }}">
	<link rel="stylesheet" href="/assets/components.css?v={{ Layout.timestamp }}">

	<script type="module" src="/assets/js/index.js?v={{ Layout.timestamp }}" defer></script>
	<script src="/assets/wasm/wasm_exec.js?v={{ Layout.timestamp }}"></script>
</head>

<body>
	{{{content}}}

	{{>footer.html}}
</body>

</html>
