<header>
	<h1>Sample Workbooks</h1>
	<nav><a href="/#menu">Menu</a></nav>
</header>

<main>
	<p>
		Currently I've just got the one but hope to build up a collection of little toy
		workbooks for experimenting with the language and CFD features.
	</p>

	<h2>Samples</h2>

	<ol>
		<li>Passive transport proof of concept workbook.
			<a href="/workbooks/workbook-passive-tracer">visit</a>
		</li>
	</ol>

	<h2>Future plans</h2>

	<p>
		Creating, saving and updating workbooks in the cloud will eventually
		be possible, but for the time being my priority is to optimise the
		editor experience such that you'd actually want to use it before adding
		file organisation tools.
	</p>
</main>
